<div>
    <div class="label">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
        </mat-form-field> &nbsp;&nbsp;&nbsp;
     
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
        </mat-form-field>
    </div>
    <div class="label">
        <mat-form-field appearance="outline">
            <mat-label>pincode</mat-label>
            <input matInput placeholder="Pin code">
        </mat-form-field> &nbsp;&nbsp;&nbsp;
       
        <mat-form-field appearance="outline">
            <mat-label>Locality</mat-label>
            <input matInput placeholder="Locality">
        </mat-form-field>
    </div><label>Address</label>
    <div class="label">
        
        <textarea name="text" cols="64" rows="5"></textarea>
    </div><br><br>
    <div class="label">
        <mat-form-field appearance="outline">
            <mat-label>city/town</mat-label>
            <input matInput placeholder="city">
        </mat-form-field> &nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="outline">
            <mat-label>Locality</mat-label>
            <input matInput placeholder="Landm">
        </mat-form-field>
    </div>
    <div>
        <mat-label>Type</mat-label><br>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Home</mat-radio-button>
            <mat-radio-button value="2">Work</mat-radio-button>
            <mat-radio-button value="2"></mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button color="primary">Continue</button>
</div>