<app-header></app-header>
<div class="main-content">
    <img src="assets\Compo1.png" alt="order_image_1">
    <div class="header-content">
        <div class="order-text">
            <b>Order Placed Successfully</b><span></span>
        </div>
      <img class="img2" src="assets\Compo2.png" alt="order_image_2">
        <div class ="orderdetail-text">
          <h5>hurry!!! your order is confirmed <br>
      the order id is #123456 save the order id for <br>
                  further communication..</h5>
        </div>

        <div class="table-container">
            <div class="table-row heading">
              <div class="row-item">Email Us</div>
              <div class="row-item">Contact Us</div>
              <div class="row-item">Address</div>
            </div>

            <div class="table-row">
              <div class="row-item">Item 1</div>
              <div class="row-item">Item 2</div>
              <div class="row-item">Item 3</div>
            </div>

            <div class="table-row">
             <div class="row-item">Item 1</div>
              <div class="row-item">Item 2</div>
              <div class="row-item">Item 3</div>
            </div>
          </div>

          <div class="actions">
            <button mat-flat-button color="primary" routerLink="/home">CONTINUE SHOPPING</button>
        </div>
          
    </div>
</div>    